html{
    box-sizing: border-box;
}

 *, *:before , *:after {
    box-sizing: inherit;
}

body{
   background-color: #eaeaea;
}

img {
    max-width:100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    
}

h1 {
   font-family: "nexa-rust-script-shad-2", sans-serif; 
   font-size: 60px;
   color:#ad1f23;
   text-align: center;
   line-height: 1;
}

p {
    font-family: "cambria", sans-serif; 
    color: #3d2226;
    line-height: 1;
}

h2 {
    font-family: "nexa-rust-script-shad-2", sans-serif; 
    font-size: 40px;
    color: #ffac0c;
    text-align: center;
    line-height: 1;
}

h3{
   font-family: "cambria", sans-serif; 
    color: #3d2226;
    line-height: 1;
    text-align: center;
}

h4{
    font-family: "cambria", sans-serif; 
   color: #ad1f23;
   line-height: 1;
}

h5{
    font-family: "nexa-rust-script-shad-2", sans-serif; 
    font-size: 30px;
    color: #119aa7;
    line-height: 1;
    margin:10px 0 10px 0;
}

.logo{
    background-color: #eaeaea;
    padding: 0 30px 0 30px;
}

#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #ad1f23;
}

#navbar a {
    float:none;
    color:#3d2226;
    text-align: center;
    padding: 15px 0 15px 0;
    font-family: "nexa-rust-script-shad-2", sans-serif;
    font-size: 30px;
    background-color: #ad1f23;
    text-decoration: none;
}

#navbar a:hover {
    text-decoration: underline;
    color:#ffac0c;
}

.nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}
.top {
    text-align: center;
    font-family: "cambria", sans-serif; 
    color:#3d2226;
}

ul{
    list-style: none;
    padding:0;
    font-family: "cambria", sans-serif; 
    color: #3d2226;
    line-height: 2;
}

.checker{
    
    width: 100%;
    height: 20px;
    background-color: #eaeaea;
    background-image:
      linear-gradient(45deg, #3d2226 25%, transparent 25%), 
      linear-gradient(135deg, #3d2226 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #3d2226 75%),
      linear-gradient(135deg, transparent 75%, #3d2226 75%);
    background-size:20px 20px; /* Must be a square */
    background-position:0 0, 10px 0, 10px -10px, 0px 10px; /*Must be half of one side of the square */
}

.pic {
    width: 100%;
}

.size {
  text-align: left;  
}


@media (min-width: 700px) {

    .history {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }

    .pizza {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
    }

    .build {
      display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;  
    }

    .salad {
       display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px; 
    }

    .subsandwich {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px; 
    }

    .specialty{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px; 
    }

    .beverages{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px; 
    }

    .hours{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px; 
    }

    .appetizers{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px; 
    }


}


